asgiref==3.11.1
brotli==1.2.0
cffi==2.0.0
charset-normalizer==3.4.7
cssselect2==0.9.0
defusedxml==0.7.1
dj-database-url==3.1.2
Django==6.0.4
django-weasyprint==2.5.0
et_xmlfile==2.0.0
fonttools==4.62.1
fpdf2==2.8.7
gunicorn==26.0.0
numpy==2.4.4
openpyxl==3.1.5
packaging==26.1
pandas==3.0.2
pillow==12.2.0
psycopg2-binary==2.9.12
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
reportlab==4.4.10
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
webencodings==0.5.1
wheel==0.47.0
whitenoise==6.12.0
zopfli==0.4.1
